In [2]:
import pandas as pd
import numpy as np

In [17]:
car=pd.read_csv('mtcars.csv')

In [9]:
car.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [10]:
car.shape

(32, 12)

In [15]:
car2=car.fillna(car.mean())

In [18]:
car3=car.dropna()

In [19]:
car3.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0

In [12]:
car.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,,6.266667,237.17,149.7,3.574333,3.267067,17.869667,0.433333,0.366667,3.666667,2.833333
1,Mazda RX4 Wag,21,6.000000,160.00,110.0,3.900000,2.875000,17.020000,0.000000,1.000000,4.000000,4.000000
2,Datsun 710,NaN,6.266667,237.17,149.7,3.574333,3.267067,17.869667,0.433333,0.366667,3.666667,2.833333
3,Hornet 4 Drive,21.4,6.000000,258.00,110.0,3.080000,3.215000,19.440000,1.000000,0.000000,3.000000,1.000000
4,Hornet Sportabout,18.7,8.000000,360.00,175.0,3.150000,3.440000,17.020000,0.000000,0.000000,3.000000,2.000000

In [21]:
x=car3.iloc[:,1:11]

In [22]:
x.head()

    mpg  cyl   disp     hp  drat     wt   qsec   vs   am  gear
1    21  6.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0   4.0
3  21.4  6.0  258.0  110.0  3.08  3.215  19.44  1.0  0.0   3.0
4  18.7  8.0  360.0  175.0  3.15  3.440  17.02  0.0  0.0   3.0
5  18.1  6.0  225.0  105.0  2.76  3.460  20.22  1.0  0.0   3.0
6  14.3  8.0  360.0  245.0  3.21  3.570  15.84  0.0  0.0   3.0

In [23]:
y=car3.iloc[:,11]

In [24]:
y.head()

1    4.0
3    1.0
4    2.0
5    1.0
6    4.0
Name: carb, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=1)

In [26]:
X_train.shape

(22, 10)

In [28]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [29]:
y_pred=linreg.predict(X_test)

In [30]:
np.sqrt(((y_test-y_pred)**2).mean())

1.1580692456484274