In [2]:
import numpy as np
import pandas as pd

In [5]:
facebook=pd.read_csv('/home/muskan/B part/facebook.csv')

In [6]:
facebook.head()

,pagetotallikes,type,category,postmonth,postweekday,posthour,paid,lifetimeposttotalreach,lifetimeposttotalimpressions,lifetimeengagedusers,lifetimepostconsumers,lifetimepostconsumptions,lifetimepostimpressionsbypeoplewhohavelikedyourpage,lifetimepostreachbypeoplewholikeyourpage,lifetimepeoplewhohavelikedyourpageandengagedwithyourpost,comment,like,share,totalinteractions
0,139441,2,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100
1,139441,3,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
2,139441,2,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
3,139441,2,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,139441,2,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325,49,393

In [7]:
air_quality=pd.read_csv('air_quality.csv')

In [8]:
air_quality.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10/03/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10/03/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10/03/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10/03/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [9]:
fb1=facebook[['pagetotallikes','type','category']]

In [10]:
fb1.head()

   pagetotallikes  type  category
0          139441     2         2
1          139441     3         2
2          139441     2         3
3          139441     2         2
4          139441     2         2

In [11]:
fb2=facebook[['pagetotallikes','posthour','paid']]

In [12]:
fb2.head()

   pagetotallikes  posthour  paid
0          139441         3     0
1          139441        10     0
2          139441         3     0
3          139441        10     1
4          139441         3     0

In [13]:
mer=pd.merge(fb1,fb2,on="pagetotallikes")

In [14]:
mer.head()

   pagetotallikes  type  category  posthour  paid
0          139441     2         2         3     0
1          139441     2         2        10     0
2          139441     2         2         3     0
3          139441     2         2        10     1
4          139441     2         2         3     0

In [18]:
fb_sort=facebook.sort_values(by='like',ascending=False)

In [19]:
fb_sort

,pagetotallikes,type,category,postmonth,postweekday,posthour,paid,lifetimeposttotalreach,lifetimeposttotalimpressions,lifetimeengagedusers,lifetimepostconsumers,lifetimepostconsumptions,lifetimepostimpressionsbypeoplewhohavelikedyourpage,lifetimepostreachbypeoplewholikeyourpage,lifetimepeoplewhohavelikedyourpageandengagedwithyourpost,comment,like,share,totalinteractions
252,111620,2,3,4,1,14,1,105632,147918,3984,2254,3391,48575,27328,1936,51,1998,128,2177
222,117764,2,3,5,5,13,0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639,122,1806
3,139441,2,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
333,92507,2,3,2,1,13,0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546,181,1873
101,137020,2,2,10,4,3,0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505,95,1626
196,123047,2,3,6,1,10,0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372,47,1439
105,137020,2,1,10,2,4,0,70144,111745,3216,2628,4782,43671,20608,1542,42,955,139,1136
139,136013,3,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90,1009
219,117764,2,3,5,7,2,0,38960,65149,2298,1702,3000,57722,34368,1978,37,821,90,948
264,109670,2,2,4,1,13,1,32208,55696,1933,1367,2123,43980,24720,1568,6,766,109,881
67,138185,2,1,11,7,3,1,53456,93790,1576,995,1469,32646,14912,884,20,697,70,787
17,138414,2,1,12,2,12,1,53264,111785,1706,1103,1655,92512,39776,1307,15,678,20,713
315,98195,2,3,3,4,13,0,34480,191207,1591,1156,1926,184270,30720,1292,10,664,97,771
201,120050,2,3,5,4,12,0,39040,55633,1684,1183,2123,32021,19712,1101,16,617,58,691
349,86909,2,1,1,6,10,1,37088,10966,2728,2288,3183,66311,34352,2021,7,579,47,633
14,138414,2,2,12,4,5,1,22784,39941,887,337,417,34415,19312,684,2,577,20,599
28,138895,2,2,12,5,3,0,9560,18264,973,559,885,9217,4748,621,36,523,63,622
161,126141,2,1,6,4,12,0,20896,29062,1418,1038,2048,19738,13656,998,103,469,33,605
71,137893,4,1,11,5,3,1,100768,220447,2101,1735,2331,59658,18880,885,17,449,84,550
244,113028,3,2,4,6,3,1,17912,34774,2750,2567,6591,21009,11408,2256,17,447,123,587
115,136642,2,1,10,7,12,0,32208,57472,1810,1490,2286,56149,31648,1724,1,431,26,458
26,138458,3,2,12,5,11,0,19552,34143,2806,2531,3420,17748,9824,1779,10,412,72,494
75,137893,2,1,11,3,2,1,37376,68610,1150,808,1341,22100,10880,724,20,411,74,505
243,113028,2,1,4,6,14,0,28352,55202,1476,1242,1990,47899,24512,1185,45,407,76,528
226,116435,2,3,5,3,7,0,18552,25542,1005,676,1021,15973,10584,676,4,400,25,429
276,107907,1,1,4,2,6,0,70912,94172,1374,1106,1267,42338,27232,788,1,379,40,420
140,136013,2,3,10,2,10,1,16776,39549,714,440,720,11860,6200,590,10,377,60,447
81,137177,2,3,11,6,10,0,5990,11123,657,361,512,5057,2628,428,18,370,53,441
157,135617,2,3,9,7,9,0,9384,14948,757,452,652,11148,7020,604,6,363,40,409
353,86909,2,2,1,4,11,0,11484,20696,1762,1635,2741,8774,5124,722,56,360,99,515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,137020,2,1,10,3,4,0,1388,2544,224,219,931,2161,1214,172,0,13,4,17
49,138353,1,1,12,2,2,0,1536,3094,84,76,99,2903,1407,76,1,12,1,14
358,86491,1,1,1,2,2,0,5168,8371,66,59,71,7041,3996,58,0,12,2,14
130,136393,2,1,10,6,8,0,652,1331,214,206,249,1249,588,182,0,11,1,12
124,136393,2,1,10,6,13,0,747,1443,226,220,287,1252,632,194,0,9,1,10
127,136393,2,1,10,6,11,0,910,1673,207,201,247,1503,782,176,0,8,2,10
128,136393,2,1,10,6,9,0,3906,8239,868,863,2632,7736,3768,774,0,7,3,10
116,136642,2,1,10,7,11,0,729,1374,303,298,331,1284,650,262,0,7,0,7
117,136642,2,1,10,7,10,0,834,1570,399,392,510,1390,704,351,0,7,2,9
122,136393,2,1,10,7,5,0,677,1240,236,228,264,1098,580,196,0,7,2,9
129,136393,2,1,10,6,9,0,659,1158,199,194,239,1041,576,169,1,7,2,10
118,136393,2,1,10,7,10,0,786,1573,263,257,318,1401,660,222,0,6,2,8
299,100732,2,1,3,7,18,0,391,746,131,130,766,723,380,93,0,6,1,7
303,100732,1,1,3,7,14,0,2933,5144,24,23,26,3972,2012,19,0,6,0,6
354,86491,1,1,1,4,4,1,4938,7910,66,63,70,6625,3804,59,0,5,2,7
114,136642,2,1,10,7,12,1,813,1568,323,319,387,1402,695,280,0,4,2,6
125,136393,2,1,10,6,13,0,645,1117,195,192,224,989,554,166,0,4,1,5
305,100732,2,1,3,6,17,0,452,726,186,184,889,721,450,114,0,4,1,5
304,100732,2,1,3,7,12,0,4094,7469,206,203,1420,7451,4088,200,0,4,0,4
302,100732,2,1,3,7,15,0,3772,6971,144,144,1033,6932,3758,140,0,3,0,3
126,136393,2,1,10,6,12,0,754,1510,206,205,252,1430,690,175,0,3,0,3
121,136393,2,1,10,7,7,0,617,1071,229,223,265,935,521,191,1,3,2,6
301,100732,2,1,3,7,15,0,5132,9067,398,398,1690,9065,5132,393,0,2,0,2
295,102112,2,1,3,1,19,0,238,570,143,142,834,567,236,99,0,2,0,2
120,136393,2,1,10,7,8,0,619,1096,257,254,292,951,516,217,1,1,2,4
21,138414,2,1,12,7,10,0,1384,2467,15,15,20,2196,1172,15,0,0,0,0
76,137893,2,1,11,3,2,0,1228,2392,17,17,19,2392,1228,17,0,0,0,0
290,104070,2,1,3,3,10,0,1874,2474,25,25,31,1483,1062,15,0,0,0,0
100,137020,2,1,10,4,9,1,1357,2453,37,37,55,2154,1120,32,0,0,0,0
314,98195,2,1,3,5,4,1,1845,2670,9,9,9,1614,1008,9,0,0,0,0

In [20]:
fb_transpose=facebook.T

In [21]:
fb_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,362,363,364,365,366,367,368,369,370,371
pagetotallikes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
type,2,3,2,2,2,3,2,2,3,2,...,2,2,2,1,2,2,2,2,2,2
category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
postmonth,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
postweekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4

In [22]:
fb_melt=facebook.melt(var_val)

In [23]:
fb_melt

               variable   value
0        pagetotallikes  139441
1        pagetotallikes  139441
2        pagetotallikes  139441
3        pagetotallikes  139441
4        pagetotallikes  139441
5        pagetotallikes  139441
6        pagetotallikes  139441
7        pagetotallikes  139441
8        pagetotallikes  139441
9        pagetotallikes  139441
10       pagetotallikes  139441
11       pagetotallikes  139441
12       pagetotallikes  139441
13       pagetotallikes  139441
14       pagetotallikes  138414
15       pagetotallikes  138414
16       pagetotallikes  138414
17       pagetotallikes  138414
18       pagetotallikes  138414
19       pagetotallikes  138414
20       pagetotallikes  138414
21       pagetotallikes  138414
22       pagetotallikes  138414
23       pagetotallikes  138414
24       pagetotallikes  138414
25       pagetotallikes  138458
26       pagetotallikes  138458
27       pagetotallikes  138458
28       pagetotallikes  138895
29       pagetotallikes  138895
...                 ...     ...
7038  totalinteractions     264
7039  totalinteractions     131
7040  totalinteractions     224
7041  totalinteractions      61
7042  totalinteractions     182
7043  totalinteractions      86
7044  totalinteractions      84
7045  totalinteractions     633
7046  totalinteractions     107
7047  totalinteractions     106
7048  totalinteractions     127
7049  totalinteractions     515
7050  totalinteractions       7
7051  totalinteractions     226
7052  totalinteractions      97
7053  totalinteractions     108
7054  totalinteractions      14
7055  totalinteractions      83
7056  totalinteractions      66
7057  totalinteractions     378
7058  totalinteractions     103
7059  totalinteractions     110
7060  totalinteractions     152
7061  totalinteractions     137
7062  totalinteractions     257
7063  totalinteractions     176
7064  totalinteractions      84
7065  totalinteractions      75
7066  totalinteractions     115
7067  totalinteractions     136

[7068 rows x 2 columns]

In [24]:
air_quality

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10/03/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10/03/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10/03/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10/03/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
5,10/03/2004,23:00:00,1.2,1197,38,4.7,750,89,1337,96,1393,949,11.2,59.2,0.7848
6,11/03/2004,00:00:00,1.2,1185,31,3.6,690,62,1462,77,1333,733,11.3,56.8,0.7603
7,11/03/2004,01:00:00,1.0,1136,31,3.3,672,62,1453,76,1333,730,10.7,60.0,0.7702
8,11/03/2004,02:00:00,0.9,1094,24,2.3,609,45,1579,60,1276,620,10.7,59.7,0.7648
9,11/03/2004,03:00:00,0.6,1010,19,1.7,561,-200,1705,-200,1235,501,10.3,60.2,0.7517
10,11/03/2004,04:00:00,-200.0,1011,14,1.3,527,21,1818,34,1197,445,10.1,60.5,0.7465
11,11/03/2004,05:00:00,0.7,1066,8,1.1,512,16,1918,28,1182,422,11.0,56.2,0.7366
12,11/03/2004,06:00:00,0.7,1052,16,1.6,553,34,1738,48,1221,472,10.5,58.1,0.7353
13,11/03/2004,07:00:00,1.1,1144,29,3.2,667,98,1490,82,1339,730,10.2,59.6,0.7417
14,11/03/2004,08:00:00,2.0,1333,64,8.0,900,174,1136,112,1517,1102,10.8,57.4,0.7408
15,11/03/2004,09:00:00,2.2,1351,87,9.5,960,129,1079,101,1583,1028,10.5,60.6,0.7691
16,11/03/2004,10:00:00,1.7,1233,77,6.3,827,112,1218,98,1446,860,10.8,58.4,0.7552
17,11/03/2004,11:00:00,1.5,1179,43,5.0,762,95,1328,92,1362,671,10.5,57.9,0.7352
18,11/03/2004,12:00:00,1.6,1236,61,5.2,774,104,1301,95,1401,664,9.5,66.8,0.7951
19,11/03/2004,13:00:00,1.9,1286,63,7.3,869,146,1162,112,1537,799,8.3,76.4,0.8393
20,11/03/2004,14:00:00,2.9,1371,164,11.5,1034,207,983,128,1730,1037,8.0,81.1,0.8736
21,11/03/2004,15:00:00,2.2,1310,79,8.8,933,184,1082,126,1647,946,8.3,79.8,0.8778
22,11/03/2004,16:00:00,2.2,1292,95,8.3,912,193,1103,131,1591,957,9.7,71.2,0.8569
23,11/03/2004,17:00:00,2.9,1383,150,11.2,1020,243,1008,135,1719,1104,9.8,67.6,0.8185
24,11/03/2004,18:00:00,4.8,1581,307,20.8,1319,281,799,151,2083,1409,10.3,64.2,0.8065
25,11/03/2004,19:00:00,6.9,1776,461,27.4,1488,383,702,172,2333,1704,9.7,69.3,0.8319
26,11/03/2004,20:00:00,6.1,1640,401,24.0,1404,351,743,165,2191,1654,9.6,67.8,0.8133
27,11/03/2004,21:00:00,3.9,1313,197,12.8,1076,240,957,136,1707,1285,9.1,64.0,0.7419
28,11/03/2004,22:00:00,1.5,965,61,4.7,749,94,1325,85,1333,821,8.2,63.4,0.6905
29,11/03/2004,23:00:00,1.0,913,26,2.6,629,47,1565,53,1252,552,8.2,60.8,0.6657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,03/04/2005,09:00:00,1.2,1022,-200,4.1,715,192,806,118,1004,831,17.8,30.7,0.6205
9328,03/04/2005,10:00:00,1.4,970,-200,3.4,677,166,888,113,931,613,21.1,23.7,0.5875
9329,03/04/2005,11:00:00,1.3,1000,-200,5.3,779,171,805,115,1001,640,24.0,19.3,0.5673
9330,03/04/2005,12:00:00,1.4,996,-200,5.3,781,177,806,124,985,631,26.5,16.4,0.5594
9331,03/04/2005,13:00:00,1.0,928,-200,3.8,701,119,926,86,902,456,28.7,13.7,0.5302
9332,03/04/2005,14:00:00,1.0,933,-200,4.2,722,121,899,87,890,450,28.5,13.1,0.5002
9333,03/04/2005,15:00:00,1.1,956,-200,5.4,783,142,857,100,896,516,30.0,11.1,0.4624
9334,03/04/2005,16:00:00,1.3,968,-200,6.3,826,197,867,132,898,548,29.4,10.4,0.4192
9335,03/04/2005,17:00:00,1.4,953,-200,6.1,817,242,872,156,891,603,28.9,9.9,0.3866
9336,03/04/2005,18:00:00,1.2,1015,-200,4.6,743,190,851,138,981,597,22.8,21.7,0.5945
9337,03/04/2005,19:00:00,2.7,1248,-200,11.1,1018,367,599,181,1289,1167,19.9,33.0,0.7608
9338,03/04/2005,20:00:00,2.5,1180,-200,7.9,894,355,636,187,1200,1372,17.5,40.7,0.8073
9339,03/04/2005,21:00:00,1.5,1102,-200,6.0,812,235,693,158,1178,1042,16.4,46.6,0.8642
9340,03/04/2005,22:00:00,1.6,1116,-200,5.8,803,233,696,153,1173,1055,15.5,49.0,0.8579
9341,03/04/2005,23:00:00,1.2,1100,-200,5.1,769,170,722,128,1147,1049,14.3,52.5,0.8497
9342,04/04/2005,00:00:00,0.9,1012,-200,3.5,683,117,801,93,1073,816,14.2,51.4,0.8275
9343,04/04/2005,01:00:00,0.6,944,-200,1.9,579,70,925,58,1002,598,13.8,51.2,0.8058
9344,04/04/2005,02:00:00,0.5,912,-200,1.5,544,69,959,55,1002,573,12.1,56.3,0.7927
9345,04/04/2005,03:00:00,0.4,887,-200,1.1,508,62,1047,51,974,549,11.3,58.9,0.7888
9346,04/04/2005,04:00:00,-200.0,864,-200,0.8,478,52,1116,43,958,489,11.8,56.0,0.7743
9347,04/04/2005,05:00:00,0.5,888,-200,1.3,528,77,1077,53,987,578,10.4,59.9,0.7550
9348,04/04/2005,06:00:00,1.1,1031,-200,4.4,730,182,760,93,1129,905,9.5,63.1,0.7531
9349,04/04/2005,07:00:00,4.0,1384,-200,17.4,1221,594,470,155,1600,1457,9.7,61.9,0.7446
9350,04/04/2005,08:00:00,5.0,1446,-200,22.4,1362,586,415,174,1777,1705,13.5,48.9,0.7553
9351,04/04/2005,09:00:00,3.9,1297,-200,13.6,1102,523,507,187,1375,1583,18.2,36.3,0.7487
9352,04/04/2005,10:00:00,3.1,1314,-200,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568
9353,04/04/2005,11:00:00,2.4,1163,-200,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119
9354,04/04/2005,12:00:00,2.4,1142,-200,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406
9355,04/04/2005,13:00:00,2.1,1003,-200,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139
9356,04/04/2005,14:00:00,2.2,1071,-200,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028

In [25]:
air_quality.shape

(9357, 15)

In [31]:
new_air=air_quality.drop_duplicates(['Time'])

In [33]:
new_air.shape

(24, 15)

In [34]:
new_air

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10/03/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10/03/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10/03/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10/03/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
5,10/03/2004,23:00:00,1.2,1197,38,4.7,750,89,1337,96,1393,949,11.2,59.2,0.7848
6,11/03/2004,00:00:00,1.2,1185,31,3.6,690,62,1462,77,1333,733,11.3,56.8,0.7603
7,11/03/2004,01:00:00,1.0,1136,31,3.3,672,62,1453,76,1333,730,10.7,60.0,0.7702
8,11/03/2004,02:00:00,0.9,1094,24,2.3,609,45,1579,60,1276,620,10.7,59.7,0.7648
9,11/03/2004,03:00:00,0.6,1010,19,1.7,561,-200,1705,-200,1235,501,10.3,60.2,0.7517
10,11/03/2004,04:00:00,-200.0,1011,14,1.3,527,21,1818,34,1197,445,10.1,60.5,0.7465
11,11/03/2004,05:00:00,0.7,1066,8,1.1,512,16,1918,28,1182,422,11.0,56.2,0.7366
12,11/03/2004,06:00:00,0.7,1052,16,1.6,553,34,1738,48,1221,472,10.5,58.1,0.7353
13,11/03/2004,07:00:00,1.1,1144,29,3.2,667,98,1490,82,1339,730,10.2,59.6,0.7417
14,11/03/2004,08:00:00,2.0,1333,64,8.0,900,174,1136,112,1517,1102,10.8,57.4,0.7408
15,11/03/2004,09:00:00,2.2,1351,87,9.5,960,129,1079,101,1583,1028,10.5,60.6,0.7691
16,11/03/2004,10:00:00,1.7,1233,77,6.3,827,112,1218,98,1446,860,10.8,58.4,0.7552
17,11/03/2004,11:00:00,1.5,1179,43,5.0,762,95,1328,92,1362,671,10.5,57.9,0.7352
18,11/03/2004,12:00:00,1.6,1236,61,5.2,774,104,1301,95,1401,664,9.5,66.8,0.7951
19,11/03/2004,13:00:00,1.9,1286,63,7.3,869,146,1162,112,1537,799,8.3,76.4,0.8393
20,11/03/2004,14:00:00,2.9,1371,164,11.5,1034,207,983,128,1730,1037,8.0,81.1,0.8736
21,11/03/2004,15:00:00,2.2,1310,79,8.8,933,184,1082,126,1647,946,8.3,79.8,0.8778
22,11/03/2004,16:00:00,2.2,1292,95,8.3,912,193,1103,131,1591,957,9.7,71.2,0.8569
23,11/03/2004,17:00:00,2.9,1383,150,11.2,1020,243,1008,135,1719,1104,9.8,67.6,0.8185

In [35]:
air_cast=new_air.pivot(index='Time',columns='CO(GT)',values='NO2(GT)')

In [ ]:
air_cast

CO(GT),-200.0,0.6,0.7,0.9,1.0,1.1,1.2,1.5,1.6,1.7,1.9,2.0,2.2,2.6,2.9
Time,,,,,,,,,,,,,,,
00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01:00:00,NaN,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
02:00:00,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03:00:00,NaN,-200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
04:00:00,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
05:00:00,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06:00:00,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
07:00:00,NaN,NaN,NaN,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,NaN,NaN,NaN
09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,NaN
10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,NaN
11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,NaN
13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,NaN,NaN,NaN,NaN
14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0
15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,NaN,NaN
16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.0,NaN,NaN
17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0
18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.0,NaN
19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN
20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN
21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0,NaN,NaN
22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.0,NaN,NaN,NaN,NaN,NaN,NaN
23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN